@import url("https://fonts.googleapis.com/css2?family=Oldenburg&display=swap");

:root {
  background-color: rgb(29, 26, 26);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-family: "Oldenburg", cursive;
}

h1 {
  color: white;
  margin-left: 30px;
  margin-bottom: 5rem;
}

h2 {
  margin-bottom: 4rem;
}

.container {
  width: 70vw;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80rem;
  margin: 0 auto;
  letter-spacing: 1px;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.hidden {
  display: none;
}

.btn {
  padding: 2rem;
  width: 20rem;
  text-align: center;
  margin-bottom: 1rem;
  text-decoration: none;
  background: linear-gradient(
    90deg,
    rgb(143, 17, 23) 0%,
    rgb(255, 251, 0) 100%
  );
  border-radius: 4px;
  color: rgb(75, 18, 75);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
}

.btn:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0;
  transition: transform 150ms;
  transform: scale(1.03);
}

.btn[disabled]:hover {
  cursor: not-allowed;
  box-shadow: none;
  transform: none;
}

.bi-gem {
  padding: 8px;
}

.end-form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 20rem;
}

input {
  margin-bottom: 1rem;
  width: 5rem;
  padding: 1rem;
  font-size: 1rem;
  border: none;
  box-shadow: rgb(177, 78, 177);
}

input::placeholder {
  color: rgb(100, 26, 97);
}

#username {
  margin-bottom: 3rem;
  width: 100%;
  outline: none;
}

#end-text {
  font-size: 1.5rem;
  color: white;
  margin-bottom: 10px;
  text-align: center;
}

#start-text {
  font-size: 1.5rem;
  color: white;
}

.fa-home {
  margin-left: 1rem;
  font-size: 2rem;
}

#highScoresList {
  padding: 30px;
}

#saveScoreBtn {
  border:none;
}